{% extends 'base.html' %}

{% block title %} URLShortener {% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="hero-container">
        <div class="hero-content text-center text-white">
            <h1>Welcome to URL Shortener</h1>
            <div class="heading-description">Shorten your URLs quickly and easily!</div>
            <form method="post">
                <div class="form-group">
                    <input type="text" name="url" placeholder="URL to shorten" class="form-control" value="{{ request.form['url'] }}" autofocus>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Shorten</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% if short_url %}
    <hr>
    <div class="text-center">
    <span><strong>Shortened URL:</strong><br/><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></span>
</div>
    {% endif %}


{% endblock %}

